.ChatbotProj.main-chat {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.ChatbotProj.main-chat.open-chat {
  width: 20rem;
  height: 28rem;
}

.ChatbotProj.main-chat.mobile.open-chat {
  bottom: 0 !important;
  right: 0 !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ChatbotProj.main-chat.closed-chat {
  width: 4rem;
  height: 4rem;
}
