.ChatCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    box-shadow: 0 0 50px -5px rgba(0,0,0,0.2);
}

.ChatCard .ChatCard-conversation {
    margin-top: 3.5rem;
    background-color: #fff;
    flex: 3 0;
    overflow-y: auto;
}

.ChatCard .ChatCard-typewriter{
    flex: 0 3;
}