.ChatTypewriter {
    background-color: #efefef;
    padding: 1rem;
}

.ChatTypewriter .btn-action {
    flex: 0 4 2rem;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 20px;
    background-image: url(../paper1.svg);
}

.ChatTypewriter .btn-action:focus {
    outline: none;
}

.ChatTypewriter .ChatTypewriter-input {
    display: flex;
    vertical-align: middle;
    align-items: center;
    border: none;
    height: 100%;
}

.ChatTypewriter .ChatTypewriter-input textarea {
    font-family: inherit;
    flex: 3 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.33;
    height: 100%;
}

.ChatTypewriter .ChatTypewriter-input textarea:focus {
    outline: none;
}