.ChatHeader {
    position: absolute;
    display: flex;
    align-items: center;
    height: 3rem;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 0.5rem 1.5rem;
    background-color: #1898ee;
    color: #fff;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.3);
}

.ChatHeader .ChatHeader-info {
    flex: 1 0;
    height: 50px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.ChatHeader .ChatHeader-info h5 {
    margin: 0;
    font-size: 20px;
}

.ChatHeader .ChatHeader-avatar {
    flex: 0 2 50px;
    background-color: #efefef;
    margin-right: 0.5rem;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.ChatHeader .ChatHeader-avatar img {
    height: 100%;
    width: 100%;
}

.ChatHeader-close {
    flex: 0 1;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    height: 20px;
    background-image: url('../cancel.svg');
}

.ChatHeader-close:focus {
    outline: none;
}