li.ChatMessage.ChatMessage-agent-message {
    align-self: flex-start;
    margin-right: 3rem;
}

li.ChatMessage.ChatMessage-agent-message .ChatMessage-bubble {
    background-color: #ebebeb;
    border: 1px solid #ebebeb;
    border-radius: 2rem 2rem 2rem 0;
    color: #000;
}

li.ChatMessage.ChatMessage-customer-message {
    align-self: flex-end;
    margin-left: 5rem;
}

li.ChatMessage.ChatMessage-customer-message .ChatMessage-bubble {
    background-color: #12a8ee;
    border-radius: 2rem 2rem 0 2rem;
    color: #fff;
}

li.ChatMessage .ChatMessage-message-avatar {
    position: absolute;
    bottom: 0;
    left: calc(-4rem + 20px - 5px);
    background-color: #efefef;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

li.ChatMessage .ChatMessage-message-avatar img {
    height: 100%;
    width: 100%;
}

li.ChatMessage {
    position: relative;
    margin: 0.5rem 1.5rem 0.5rem 4rem;
}

li.ChatMessage p {
    line-height: 1.35;
    font-size: 16px;
    word-wrap: break-word;
    word-break: break-all;
    hyphens: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.7rem 1rem 0.7rem 1rem;
}