.ChatMessageTemplate .ChatMessageTemplate-buttons {
  background-color: #fff;
  border-radius: 0rem 0rem 2rem 0;
}

.ChatMessageTemplate .ChatMessageTemplate-buttons ul {
  margin: auto;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.ChatMessageTemplate .ChatMessageTemplate-buttons ul li {
  padding: 0.6rem 0.5rem;
  border-bottom: 1px solid #dedede;
}

.ChatMessageTemplate .ChatMessageTemplate-buttons ul li:last-child {
  padding: 0.6rem 0.5rem;
  border-bottom: none;
}

.ChatMessageTemplate .ChatMessageTemplate-buttons ul li button {
  background: none;
  border: none;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  color: #2600f8;
  cursor: pointer;
}

.ChatMessageTemplate .ChatMessageTemplate-buttons ul li button:active {
  outline: none;
}

.ChatMessageTemplate .ChatMessageTemplate-buttons ul li button:focus {
  outline: none;
}