.ChatFab {
    height: 100%;
    width: 100%;
}

.ChatFab .ChatFab-main-action {
    height: 100%;
    width: 100%;
    background: #1898ee;
    border: none;
    border-radius: 50%;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    font-size: 50px;
    color: white;
    text-align: center;
}

.ChatFab .ChatFab-main-action i.bubbles-icon {
    display: block;
    margin: auto;
    height: 50%;
    width: 50%;
    background-size: 100% 100%;
    background-image: url(../bubbles.svg);
}

.ChatFab .ChatFab-main-action:focus {
    outline: none;
}